.super-mario {
  width: 200px;
  position: absolute;
  margin-top: 50px;
  left: 130px;
  z-index: 1;
}

.goomba {
  width: 100px;
  position: absolute;
  margin-top: 350px;
  margin-left: 170px;
  z-index: 2;  
}

.baloon {
  display: flex;
  position: absolute;
  left: 700px;
  bottom: 200px;
  z-index: 3;
}

.speach {
  font-size: 20px;
  position: absolute;
  margin-top: 10px;
  right: 320px;
  bottom: 290px;
  z-index: 4;
}

.bowser {
  width: 200px;
  margin-top: 350px;
  margin-left: 1000px;
}
